/* services.css */

/* Réinitialisation des marges par défaut du body */
body {
    margin: 0;
  }
  
  /* Styles pour la section "Nos services" */
  
  .services {
    padding: 80px 0;
    background: url('http://localhost:3000/img/tarif-bg.jpg'); /* Image de background ajoutée */
    background-attachment: fixed;
  }
  
  .services .heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Ajustez le conteneur pour centrer les boîtes services */
  .services .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center; /* Centrer horizontalement les boîtes */
    align-items: center; /* Centrer verticalement les boîtes */
  }
  
  /* Ajustez la taille des boîtes services */
  .services .box {
    height: 500px; /* Hauteur souhaitée pour les boîtes */
    width: 300px; /* Largeur souhaitée pour les boîtes */
    margin: 0 auto; /* Centrer horizontalement les boîtes */
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease;
  }
  
  /* Appliquez la classe "adjusted" aux images des services */
  .services .box img.adjusted {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  /* Styles pour la face avant (front-content) */
  .services .box .front-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg); /* Retournement initial */
    transition: transform 0.3s ease;
  }
  
  /* Afficher la face avant lorsque la classe "hidden" est appliquée */
  .services .box.flipped .front-content.hidden {
    transform: rotateY(180deg);
  }
  
  /* Styles pour la face arrière (back-content) */
  .services .box .back-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: rotateY(180deg); /* Retournement initial */
    transition: transform 0.3s ease;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none; /* Empêcher les interactions avec la face arrière masquée */
    font-family: "Roboto", sans-serif;
  }
  
  /* Afficher la face arrière lorsque la classe "flipped" est appliquée */
  .services .box.flipped .back-content {
    transform: rotateY(0deg);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  
  .services .box .back-content h3 {
    text-align: center;
    font-size: 2.5rem; /* Taille de la font pour les titres */
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  
  .services .box .back-content .price {
    font-size: 3rem; /* Taille de la font pour les prix */
    color: #fff;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .services .box .back-content .currency {
    font-size: 1.5rem; /* Taille de la font pour la devise */
    vertical-align: middle;
    margin-left: 4px;
  }
  
  .services .box .back-content ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  .services .box .back-content ul li {
    text-align: center;
    font-size: 1.8rem; /* Taille de la font pour les éléments de la liste */
    margin-bottom: 10px;
    color: #fff;
  }
  
  .services .box .back-content ul li i {
    margin-right: 8px;
    color: #fff;
    font-size: 2rem; /* Taille de la font pour les coches */
  }
  
  /* Au survol (hover), agrandir légèrement l'image */
  .services .box:hover {
    transform: scale(1.05);
  }
  
  /* Media query pour les écrans de taille réduite */
  
  @media (max-width: 768px) {
    .services .box-container {
      grid-template-columns: 1fr;
    }
  }