/* reviewslist.css */

/* Réinitialisation des marges par défaut du body */
body {
  margin: 0;
}

/* Styles pour la section "Reviews List" */
.reviews-list-prefix-body {
  margin: 0;
  padding: 0;
  background-image: url(http://localhost:3000/img/outilsBarber.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
}

.reviews-list-header-prefix {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--main-color);
  z-index: 1000;
}

.reviews-list {
  padding: 20px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(176, 183, 221, 0.699); /* Légèrement opaque */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  color: black; /* Texte en noir */
}

.reviews-list h2.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  backdrop-filter: blur(10px); /* Ajout de l'effet glassmorphism */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure légère */
}
.box p {
  margin: 10px 0;
  color: black; /* Texte en noir */
}

.reviews-list .box-container .box .quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.reviews-list .box-container .box .quote {
  width: 30px;
  height: 30px;
  filter: invert(0); /* L'image quote en noir */
}

.stars {
  margin-top: 10px;
}

.fas.fa-star,
.fas.fa-star-half-alt {
  color: gold;
  margin-right: 3px;
}


.reviews-list-action-button {
  display: inline-block;
  padding: 8px 12px;
  margin-top: 10px;
  margin-right: 5px; /* Espacement droit entre les boutons */
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Ajout de la transition pour l'effet */
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: #2196F3; /* Couleur bleue */
}

.reviews-list-action-button:hover {
  background-color: #0970c5; /* Variation plus foncée */
  transform: scale(1.05); /* Légèrement agrandi au survol */
}

.reviews-list-delete-button {
  background-color: #f44336; /* Couleur rouge */
  transition: background-color 0.3s ease; /* Transition de couleur en cas de survol */
}

.reviews-list-delete-button:hover {
  background-color: #eb1919; /* Variation plus foncée pour le survol */
  transform: scale(1.05); /* Légèrement agrandi au survol */
}

.btn-return {
  padding: 10px 20px;
  background-color: #333;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 20px;
}

.btn-return:hover {
  background-color: #555;
}

/* Styling for the update button */
.reviews-list-update-button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reviews-list-update-button:hover {
  background-color: #219653;
}










  
  
  







  
  
  