.admin-update-service-body {
  background-image: url('http://localhost:3000/img/outilsBarber.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-update-service-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}

.admin-update-service-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.admin-update-service-container form {
  display: flex;
  flex-direction: column;
}

.admin-update-service-container label {
  margin-bottom: 10px;
}

.admin-update-service-container input,
.admin-update-service-container textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.admin-update-service-container .title {
  font-size: 24px;
}

.admin-update-service-container label,
.admin-update-service-container input,
.admin-update-service-container textarea,
.admin-update-service-container button {
  font-size: 18px;
}

.admin-update-service-container button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-update-service-container button:hover {
  background-color: #555;
}

.admin-update-service-container .retour-button {
  display: block;
  width: 100px;
  padding: 10px;
  background-color: #333;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.admin-update-service-container .retour-button:hover {
  background-color: #555;
}

.admin-update-service-container .update-button {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 20px;
}

.admin-update-service-container .update-button:hover {
  background-color: #555;
}

.retour-button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.retour-button:hover {
  background-color: #000;
}

  