.admin-header-container-custom {
    background-image: url('http://localhost:3000/img/outilsBarber.jpg');
    background-size: cover;
    filter: blur(5px) brightness(0.5) grayscale(100%);
  }
  
  .admin-header-container-custom nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .admin-header-container-custom nav ul li {
    margin: 0 10px;
  }
  
  .admin-header-container-custom nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .admin-header-container-custom nav ul li a:hover {
    text-decoration: underline;
  }
  